/* li>a{
    color: #C22A36 !important;
    font-family: inherit !important;
}
a:hover{
    color: black !important;
}
li:hover{
    background-color:#C22A36 !important; 
}

@media screen and (max-width: 900px) {
    .logo1{
        float: none !important;
    }
    .navbar{
        float: left !important;
    }
}
@media screen and (max-width: 992px){
    li>a{
        font-size: 11px !important;
        padding-left: 0px !important;
    }
}
@media screen and (max-width: 767px){
    li>a{
        font-size: 1rem !important;
    }
    li{
        height: 35px;
    }
    button{
        float: left !important;
    }
} */
body{
    font-family: 'Fredoka One',cursive;
    display: flex !important;
    justify-content: center !important;
}
.page{
    max-width: 1440px !important;
}
.header{
  background-color: white !important;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
@font-face{
    font-family: 'Fredoka One';
    src: url(fonts/FredokaOne-Regular.ttf);
}
nav{
    display: flex;
    justify-content: space-between;
  /* background: #0082e6; */
  height: 80px;
  width: 100%;
  /* margin-top: 30px; */
  font-family: 'Fredoka One',cursive;
}
nav>a{
  margin: 10px 0 0 70px !important;
}
label.logo{
  /* color: #f2f2f2; */
  font-size: 33px;
  line-height: 80px;
  padding: 0 140px;
  font-weight: 600;
  font-family: 'Fredoka One',cursive;
}
nav ul{
  float: right;
  /* margin-right: 60px; */
  margin: 10px 0 0 0;
  font-family: 'Fredoka One',cursive;
}
nav ul li{
  display: inline-block;
  line-height: 40px;
  margin: 15px 15px;
  border-radius: 20px;
  font-family: 'Fredoka One',cursive;
}
nav ul li:hover{
    background-color: #D82011;
    color: white;
    font-family: 'Fredoka One',cursive;
}
nav ul li a{
  color: #D82011;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Fredoka One',cursive;
  padding: 7px 13px;
  /* border-radius: 3px; */
  /* text-transform: uppercase; */
  text-decoration: none !important;
}
nav ul li a:hover{
    color: white;
    font-family: 'Fredoka One',cursive;
}
.checkbtn{
  font-size: 30px;
  color: #D82011;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 997px){
  label.logo{
    font-size: 27px;
    padding-left: 25px;
  }
  nav ul li a{
    font-size: 16px;
    margin: 0 !important;
    /* margin: 0 2px 0 2px !important; */
    font-family: 'Fredoka One',cursive;
  }
  /* nav ul li{
    margin: 2px 2px 2px 2px !important;
  } */
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
    margin-right: 40px;
    margin-left: 30px;
    margin-top: 10px !important;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 45vh;
    background-color: white;
    top: 100px;
    left: -100%;
    text-align: start;
    transition: all .5s;
    /* padding-left: 70px; */
    z-index: 1001;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    border-radius: 16px;
    padding-left: 70px;
  }
  nav ul li:hover{
      background: none;
  }
  nav ul li a:hover{
      background-color: #D82011;
      color: white;
      font-family: 'Fredoka One',cursive;
  }
  nav ul li a{
    font-size: 20px;
    border-radius: 20px;
    color:#D82011 ;
    text-decoration: none !important;
    font-family: 'Fredoka One',cursive;
  }
  .a,.a:hover{
    background-color:#D82011;
  }
  .active,.active:hover{
      color: white;
      font-family: 'Fredoka One',cursive;
  }
  .active:hover{
      background:none;
      color: black;
      font-family: 'Fredoka One',cursive;
      /* color: #C22A36; */
  }

 
  #check:checked ~ ul{
    left: 0;
  }
}
/* section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
} */
.text-center>h1{
    width: 50%;
    text-align: start;
}
.sizing{
  color: #D82011;
}
@media (max-width: 946px){
  .sizing{
    /* font-size: 25px !important; */
    color: #D82011;
  }
  .img1{
    width: 80px;
    height: 55px;
  }
  .img2{
    width: 135px;
    height: 55px;
  }
}
@media (max-width: 535px){
  .sizing{
    font-size: 23px !important;
    color: #D82011;
  }
  .img1{
    width: 65px;
    height: 50px;
  }
  .img2{
    width: 130px;
    height: 45px;
  }
}
.underline{
  text-decoration: underline;
  text-decoration-color: #5c5c5c;
}



.wrap h1{
  font-family: 'Fredoka One',cursive;
  color: #D82011;
}
.b{
  background-color: #D82011;
  color: white;
}
.b:hover{
  background-color: white;
  color: #D82011;
}








@media (max-width:1230px){
  .disp-img{
    display: none !important;
  }
  .aligning{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
@media (max-width: 1049px){
  .p1{
    display: none;
  }
  .tag-line h1{
    width: 100% !important;
  }
}
@media(max-width:730px){
  .d h1{
    font-size: 22px !important;
  }
  .d a{
    font-size: 12px !important;
  }
}
@media (max-width: 450px){
  .f-banner{
    font-size: 30px !important;
  }
  .f-cont{
    margin-left: 5px !important;
    margin-right: 5px !important;
    border: none !important;
  }
}












.border-right{
  border-width: 3px !important;
  border-color: #5c5c5c !important;
}
/* .footer-banner{
  background-color: #0EE0EE;
} */
.f-banner{
  font-family: 'Fredoka One',cursive;
  /* background-color: #D82011; */
  color: #D82011;
  font-size: 36px;
  line-height: 41px;
}

@media (max-width: 767px){
  .f-row{
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
  }
}




.grid h4{
  font-family: 'Fredoka One',cursive;
  color: #D82011 !important;
  font-size: 25px !important;
  /* font-weight: bolder !important; */
}
.grid div{
  font-family: 'Fredoka One',cursive;
  color: #D82011 !important;
  font-size: 23px !important;
}
.grid a{
  text-decoration: none !important;
}



.follow{
  margin-left: 120px !important;
}
.fab{
  color: #5c5c5c;
}




@media (max-width:1199px){
  .grid>div{
    padding: 0 !important;
  }
}

@media (max-width:991px){
  .grid>div, .grid h4, .grid div, .grid a{
    font-size: 20px !important;
  }
  .follow{
    margin-left: 40px !important;
  }
  .bor{
    border-right: #5c5c5c !important;
    border-right-width: 3px !important;

  }
}